<main class="parent vw-100 p-5 vh-100  d-flex align-items-center justify-content-center">
    <div class="body d-flex justify-content-between w-75 h-100 rounded-4">
        <div class=" h-100 w-50  w-50  me-5 text-light">

            <div class="mb-5">
                <div class="mb-1 d-flex  align-items-center"> <img src="../../assets/circle-star-svgrepo-com.svg"
                        class="icon me-2" alt=""><span class="fs-5 fw-bold">Superlist</span></div>
                <span class="lh-sm fs-3 fw-bold  ">Start your 30-day free trial</span><br>
                <div class="mt-2">
                    <i class="bi bi-check-circle me-2  "></i><span class="fw-lighter lh-sm no_credit">No credit
                        card
                        required</span>
                </div>
            </div>
            <div class="mb-4">
                <div class="mb-1  d-flex align-items-center"> <img src="../../assets/people-svgrepo-com.svg"
                        class="icon me-2" alt=""></div>
                <span class=" fs-3 fw-bold mb-3 ">Invite unlimited colleagues</span><br>
                <span class="fw-lighter lh-sm no_credit">Intergrated with guaranteed
                    developer-friendly APIs or openly to choose a build-ready or low-cost solution.</span>
            </div>
            <div class="mb-4">
                <div class="mb-1  d-flex align-items-center"> <img src="../../assets/check-badge-svgrepo-com.svg"
                        class="icon me-2" alt=""></div>
                <span class=" fs-3 fw-bold mb-3 ">Ensure compliance</span><br>
                <span class="fw-lighter lh-sm no_credit">Receive detailed insights on all your numbers in
                    real-time see
                    where visitors are coming from.</span>
            </div>
            <div class="mb-4">
                <div class="mb-1  d-flex align-items-center"> <img
                        src="../../assets/security-priority-solid-svgrepo-com.svg" class="icon me-2" alt="">
                </div>
                <span class=" fs-3 fw-bold mb-3 ">Built-in security</span><br>
                <span class="fw-lighter lh-sm no_credit">Keep your team members and customers in the loop by
                    sharing
                    your dashboard public.</span>
            </div>

            <div class=" d-flex no_credit">
                <div class=" footer "><span class="pe-3">Terms</span>&#x2022;<span
                        class="px-3">Privacy</span>&#x2022;<span class="px-3">Docs</span>&#x2022;<span
                        class="px-3">Help</span></div>
                <div class="footer_end"><img src="../../assets/earth-globe-svgrepo-com.svg" class="icon" alt=""><span
                        class="px-2">English</span><img src="../../assets/chevron-down-svgrepo-com.svg" class="icon"
                        alt=""></div>
            </div>

        </div>
        <div class="form_section px-5 py-4 h-100 w-50 text-light  rounded ">
            <div class="pb-4  h-100 w-100 text-light">
                <div class="d-flex flex-column ">
                    <div class="text-center"><span>Register with:</span></div>
                    <div class="upper_section d-flex justify-content-between mt-3 ">

                        <span class="register_with   py-2 rounded-2 me-3"><i
                                class="bi bi-google text-light me-2"></i>Google</span>
                        <span class="register_with   py-2 rounded-2 me-3"><i
                                class="bi bi-github text-light me-2"></i>Github</span>
                        <span class="register_with   py-2 rounded-2 "><i
                                class="bi bi-gitlab text-light me-2"></i>Gitlab</span>
                    </div>
                    <article>
                        <h6>Or</h6>
                    </article>
                </div>
                <div class="d-flex mt-4 mb-2">
                    <span class="d-flex flex-column w-100 me-3 "> <label for="first_name">First Name</label>
                        <input type="text" class="rounded-2"></span>
                    <span class="d-flex flex-column w-100"> <label for="last_name">Last Name</label>
                        <input type="text" class="rounded-2"></span>

                </div>
                <div class="mb-2">
                    <span class="d-flex flex-column w-100"> <label for="username">Username</label>
                        <input type="text" class="rounded-2"></span>
                </div>
                <div class="mb-2">
                    <span class="d-flex flex-column w-100"> <label for="email">Email</label>
                        <input type="text" class="rounded-2"></span>
                </div>
                <div class="d-flex flex-column mb-2">
                    <span class="d-flex flex-column w-100"> <label for="password">Password</label>
                        <input type="text" class="rounded-2"></span>
                    <span class="mb-3">minimum length is 8 characters</span>
                </div>
                <button class="signUp_button w-100 py-2 rounded-2 text-dark fw-bold mb-3">Sign Up</button>

                <span class="mt-5">By creating an account, you agree to the <a href="#" class="fw-bold text-light">Terms of Service</a> we We'll occasionally send
                        you account related emails.</span>
                        <div class="text-center mt-4"><span>Already have an account?</span><span class="fw-bold login">Login</span></div>
            </div>
        </div>
    </div>
</main>