* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  background-color: #f0f0f0;
}
.body {
  /* background-color: #0d0f11; */
  /* background-image: radial-gradient( yellow 15%, #0d0f11 60%); */
  background-color: #000;
  background-image: radial-gradient(circle 50vh at 50% 0%, #e6ec462f 1%, #0000 110%); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5%
}
.icon{
    width: 25px;
    height: 25px;
}
.no_credit{
    color: #707478;
}
i{
    color:#707478
}
.footer{
    position: absolute ;
    bottom:15% 
}
.footer_end{
    position: absolute;
    bottom:15% ;
    left: 41%;
}
.form_section{
  background-color: #70747847;
}
.register_with{
  padding: 0px 35px;
  background-color: #70747833;
}
input{
  background-color: #70747833;
  border: none;
  height: 30px;

}
input{
  outline:none;
  padding: 10px;
  color: white;
  
}
input:hover{
  outline:2px solid #e6ec46;
}
.upper_section{
  padding-bottom: 30px;
}
/* border left right text */
article {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h6 {
  display: flex;
  align-items: center;
}

h6:before,
h6:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #707478;
}

h6:before{
  margin: 0 20px 0 0;
}

h6:after{
  margin: 0 0 0 20px;
}
.signUp_button{
  background-color: #e6ec46;
}
.login{
  color:#e6ec46
}
